<!-- TODO: Header? -->
<div class="main-content">
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
    <a href = "/">Home</a>
    <a href = "/profile">Profile</a>
    <h1>Welcome to the Voting App</h1>

    <div class="button-container">
        <a href="/signup" class="action-button">Signup</a>
        <a href="/login" class="action-button">Login</a>
    </div>

    <h3>Number of Polls: <%= pollsnumber %></h3>
</div>
</body>
</html>
