<%- include('../partials/header', { title: "Home" }) %>
<div class="main-content">
    <div class="navbar">
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
        <a href = "/">Home</a>
        <a href = "/profile">Profile</a>
    </div>
    <h1>Welcome to the Voting App</h1>

    <div class="button-container">
        <a href="/signup" class="action-button">Signup</a>
        <a href="/login" class="action-button">Login</a>
    </div>

    <h3>Number of Polls: <%= pollsnumber %></h3>
</div>
</body>
</html>
